<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=0.6,user-scalable=no">
<title>车妥妥</title>
<!-- Bootstrap core CSS -->
<link href="__EXWX__/style/bootstrap.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link href="__EXWX__/style/style.css" rel="stylesheet" type="text/css">
<link href="__EXWX__/style/style480.css" rel="stylesheet" type="text/css">
<link href="__EXWX__/style/style320.css" rel="stylesheet" type="text/css">


<script src="__EXWX__/js/jquery-1.js"></script>
<script src="__EXWX__/js/bootstrap.js"></script>
<script src="__EXWX__/js/jquery.SuperSlide.js"></script>
<script src="__JS__/Scroll.js"></script>


<body style="background:#F2F2F2;">
<input type="hidden" id="size_id" value="{$size}"/>
<div class="wxnav">
<a class="get1" href="__MODULE__/Weixin/memberInfo"><</a>
<h2>已接车订单</h2>

</div>
<!--content-->
<div class="wcenter0">
 <div class="wcenter01">
 <div class="owlist0" id="div_owlist0_id">
<foreach name="list" item="vo" key="k">
  <div class="owlist" name="div_owlist_{$k}">
      <div class="owlist1"><h2>提车时间：{$vo.tiche_time}</h2></div>
	  <div class="owlist2">
	     <div class="owlist2a">
		 <img src="__EXWX__/images/tche1.png">
		  <p><img src="__EXWX__/images/tche2.png"></p>
		 </div>
	      <div class="owlist2b">
		   <dl>
		      <dt>用户姓名：</dt>
		       <dd>{$vo.shouche_name}</dd>
		   </dl>
		     <dl>
		      <dt>用户电话：</dt>
		       <dd>{$vo.shouche_tel}</dd>
		   </dl>
		     <dl>
		      <dt>身份证号：</dt>
		       <dd>{$vo.mam_code_new}</dd>
		   </dl>
		     <dl>
		      <dt>约定地点：</dt>
		       <dd>{$vo.start_address}</dd>
		   </dl>

		  </div>
	  </div>
  </div>
  </foreach>

  </div>
	<p class="more3"><span>加载更多</span></p>
 </div>
</div>
<script>
$(".wlist").click(function(){

if($(this).find('span').hasClass('on')){

$(this).find('span').removeClass('on');

}else{

$(this).find('span').addClass('on');
}


});
window.onscroll = function (){
	var sizes = $("#size_id").val();
	var divObj = $("div[name^='div_owlist_']");
	var size = divObj.size();
	if(parseInt(sizes)>size){
		var s = getScrollTop() + getClientHeight();
		var m = getScrollHeight()-2;
		if (m==s||m<s){
			setTimeout(3000);
			var size = size;
			$.post("__MODULE__/Order/waitExtAjax",{pagesize:size,mark:'Y'},function(data){
					$("#div_owlist0_id").append(data);
			});
		}
	}
}

</script>


<!--content-->

<!-- 留言框 -->


<!--footer-->

</body></html>