<include file='public:header'/>
<include file='public:top'/>
<include file='public:menu'/>

<!--content-->
<div class="dengm">
 <div class="deng0">
   <div class="deng1">
    <h2>欢迎登录</h2>
   </div>
   <div class="deng2">
     <div class="deng2a">
	  <p><a  class="ww1" href="__MODULE__/Login/pclogin">普通登录方式</a><a  class="ww2 on" href="javascript:void(0);">手机动态码登录</a></p>
	 </div>
		<input type="hidden" id="SMS_VCode" name="SMS_VCode" value="">
     <div class="deng2b">
	   <div class="deng2b1">
	    <dl><dt>手机号码：</dt><dd><input id="tel" name="tel" type="text" class="txt1"></dd></dl>
	    <dl>
	    	<dt>输入验证码：</dt>
	    	<dd>
	    		<input id="VCode" name="VCode" type="text" class="txt2" placeholder="请输入验证码" >
	    		<span id="captcha-container" class="txt3"><img style="height:46px" src="{:U('Login/verify_c',array())}" title="点击刷新" onclick="verify_img()"></span>
	    	</dd>
	    </dl>
		 <dl>
		 	<dt>验证码：</dt>
			 <dd>
			 	<input type="text" id="SM_VCode" name="SM_VCode" class="txt2" placeholder="请输入短信验证码">
			 	<input id="SMbtn" name="SMbtn" type="button" value="获取验证码" class="txt6" onclick="SM_Check()" />
			 </dd>
		 </dl>
		
		<div class="txt4"><input type="button" value="登录" onclick="Login_Check()"></div>
			<div class="txt5"><a href="__MODULE__/Register/index">注册</a></div>
	 
		</div>
		  <div class="deng2b2">
		</div>
	 </div>
   </div>
 </div>
</div>
  
<script>
//手机动态验证码等待60秒
var count = 60;
//验证码
function verify_img(){ 
	var captcha_img = $('#captcha-container').find('img'); 
	captcha_img.attr("src", '__MODULE__/Login/verify_c?random='+Math.random());
};

//发送短信验证
function SM_Check(){
	var tel=$('#tel').val();							//手机号
	var VCode=$('#VCode').val();	//验证码
	//验证手机号
	if(tel==""){
		$.anewAlert("请输入手机号");	
		return false;
	}else if(!$.check_Mobile(tel)){
		$.anewAlert("请输入正确的手机号");	
		return false;
	}
	if(VCode==""){
		$.anewAlert("请输入验证码");	
		return false;
	}
	$.post('__MODULE__/Login/tel_SMS',{'tel':tel,"VCode":VCode},function(data){
		if(data.massion){
			//手机动态验证码等待60秒
			var tmrid= setInterval("setvalue()", 1000);
			event.cancelBubble=true
			document.getElementById("SMS_VCode").value=data.code;
		}else{
			$.anewAlert("短信验证码发送失败~");
		}
	})
}
//登录
function Login_Check(){
	var tel		 =$('#tel').val().trim();
	var VCode	 =$('#VCode').val().trim();
	var SM_VCode =$('#SM_VCode').val().trim();
	var SMS_VCode=$('#SMS_VCode').val().trim();
	
	//验证手机号 check_Mobile
	if(tel==""){
		$.anewAlert("请输入手机号");	
		return false;
	}else if(!$.check_Mobile(tel)){
		$.anewAlert("请输入正确的手机号");	
		return false;
	}
	
	//验证验证码
	if(VCode==""){
		$.anewAlert("请输入验证码");	
		return false;
	}
	
	//验证短信验证码
	if(SM_VCode==""){
		$.anewAlert("请输入短信验证码");	
		return false;
	}
	
	//提交
	$.post('__MODULE__/Login/mobile_Login_Verify',{'tel':tel,'VCode':VCode,'SM_VCode':SM_VCode,'SMS_VCode':SMS_VCode},function(data){
		if(data.type==0){
			$.anewAlert(data.info);
		}else{
			window.location.href="__MODULE__/Index/homePage/";
		}
	})
}

//手机动态验证码等待60秒
function setvalue()
{
    var btn = document.getElementById("SMbtn");
    if (count > 0) {
        btn.value = "等待" + count + "秒";
        count--;
        btn.disabled = true;
    }
    else {
        btn.value = "获取验证码"
        clearInterval("tmrid");
        btn.disabled = false;
    }
}
</script>

<!--content-->

<include file='public:foot'/>